body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  height: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.title {
  margin: 0 auto 20px auto;
  width: 60%;
  padding: 15px;
  text-align: center;
  color: white;
  font-size:50px
}

.short-it-form {
  margin: 20px auto 20px auto;
  width: 90%;
  padding: 10px 30px 10px;
  text-align: center;
  box-shadow: 0 1px 4px #ccc;
  background: white;
}

input {
  height:100%;
  width:80%;
  border-radius:20px;
}

.inputForm{
  border-radius:20px;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  height: 35px;
  margin: 5px
}

.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}

#loader, #loader1, #loader2 {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#hideAll
 {
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: white;
   z-index: 99; /* Higher than anything else in the document */

 }

